.frames-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.frame-separator {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    border-bottom: 5px solid #dee2e6;
    display: flex;
    justify-content: center;
}

.frames-header-label {
    max-width: 300px;
    text-align: center;
}

.frames-p-label {
    margin-left: 30px;
    text-align: center;
}

.frames {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.frame {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.frame-label {
    margin-right: 10px;
    min-width: 50px;
}

.frame-field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.field-label {
    margin-right: 5px;
}

.frame-input {
    text-align: center;
    width: 50px;
    margin-right: 5px;
}

.generate-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.generate-message-button,
.clear-button,
.encode-button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.generate-message-button {
    background-color: #007bff;
}

.generate-message-button:hover {
    background-color: #0056b3;
}

.clear-button {
    background-color: red;
    margin-left: 10px;
}

.clear-button:hover {
    background-color: darkred;
}

.encode-button {
    background-color: green;
    margin-left: 10px;
}

.encode-button:hover {
    background-color: darkgreen;
}

.message-text-area {
    width: 100%;
    max-width: 800px;
    height: 100px;
    margin: 10px 0;
}

/* Shift all frames to the left when .shift-left class is added */
.shift-left .frames {
    align-items: flex-start;
}
